package {{ .Package }}

import (
	"github.com/shauryagautam/Astra/pkg/test_util"
)

// {{ .Name }}Factory defines the factory for {{ .Name }} models.
func {{ .Name }}Factory() *test_util.ModelFactory[{{ .Name }}] {
	return test_util.NewFactory[{{ .Name }}]("{{ .TableName }}").
		SetFunc("id", func() any { return "uuid-here" })
		{{ range .Fields }}.Set("{{ .DBName }}", "default-{{ .FieldName }}")
		{{ end }}
}
