package {{ .Package }}

import (
	"github.com/astraframework/astra/testing"
	"github.com/astraframework/astra/app/models"
)

// {{ .Name }}Factory defines the factory for {{ .Name }} models.
func {{ .Name }}Factory() *testing.ModelFactory[models.{{ .Name }}] {
	return testing.NewFactory[models.{{ .Name }}]("{{ .TableName }}").
		SetFunc("id", func() any { return "uuid-here" })
		{{ range .Fields }}.Set("{{ .DBName }}", "default-{{ .FieldName }}")
		{{ end }}
}
