package {{ .Package }}

import (
	"github.com/astraframework/astra/http"
)

// {{ .Name }}Handler handles {{ .NameLower }} requests.
func {{ .Name }}Handler(c *http.Context) error {
	// TODO: implement handler logic
	return c.Success(nil)
}
